bin/
obj/
*.db
*.db-journal
*.pdb
*.log
secrets.json
appsettings.json
appsettings.Development.json

*.log
*.sqlite
*.sqlite3
*.pid
*.suo
*.user
*.cache

.vscode/
.idea/
*.sln.cache
*.suo
*.user
*.ttf
*.csproj.user
*.ncrunch*

node_modules/
dist/
npm-debug.log*
yarn-error.log
.vite/
.vitepress/cache
coverage/
*.local

localhost-key.pem
localhost.pem
.env
.env.local
.env.development.local
.env.production.local
.env.test.local